- name: 5.1.1 Set permissions on /etc/ssh/sshd_config
  file:
    path: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: '0600'

- name: 5.1.1 Set permissions on sshd_config.d/*.conf
  file:
    path: /etc/ssh/sshd_config.d/
    owner: root
    group: root
    mode: '0600'
    recurse: yes

- name: 5.1.2 Find SSH private host key files
  find:
    paths: /etc/ssh
    patterns: 'ssh_host_*_key'
    file_type: file
  register: ssh_private_keys

- name: 5.1.2 Set permissions on SSH private host key files
  file:
    path: "{{ item.path }}"
    owner: root
    group: root
    mode: '0600'
  loop: "{{ ssh_private_keys.files }}"
  when: ssh_private_keys.matched > 0

- name: 5.1.3 Find SSH public host key files
  find:
    paths: /etc/ssh
    patterns: 'ssh_host_*_key.pub'
    file_type: file
  register: ssh_public_keys

- name: 5.1.3 Set permissions on SSH public host key files
  file:
    path: "{{ item.path }}"
    owner: root
    group: root
    mode: '0644'
  loop: "{{ ssh_public_keys.files }}"
  when: ssh_public_keys.matched > 0


- name: 5.1.4-5.1.22 Harden SSH configuration
  copy:
    dest: /etc/ssh/sshd_config.d/99-custom.conf
    content: |
      AllowUsers serwis
      Banner /etc/issue.net
      Ciphers aes256-ctr,aes192-ctr,aes128-ctr
      ClientAliveInterval 15
      ClientAliveCountMax 3
      DisableForwarding yes
      GSSAPIAuthentication no
      HostbasedAuthentication no
      IgnoreRhosts yes
      KexAlgorithms curve25519-sha256,ecdh-sha2-nistp521
      LoginGraceTime 60
      LogLevel INFO
      MACs hmac-sha2-512,hmac-sha2-256
      MaxAuthTries 4
      MaxSessions 10
      MaxStartups 10:30:60
      PermitEmptyPasswords no
      PermitRootLogin no
      PermitUserEnvironment no
      UsePAM yes
    owner: root
    group: root
    mode: '0600'

- name: Restart SSH
  service:
    name: ssh
    state: restarted
